<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'GoThere', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <%= form_tag expedia_path, :method => :post, class: "navbar-form navbar-right", role: "search" do %> 
        <div class="form-group"> 
          <%= text_field_tag :search, params[:search], placeholder: "Go where?" %> 
        </div> 
        <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>

<!--       <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Go Where?">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
 -->      
    </div>
  </div>
</nav>

