<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoThere" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Gothere" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!--map-->
    <script src="http://js.arcgis.com/3.8/"></script>
    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css">

    <%= csrf_meta_tags %>


  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
<!--             <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li> -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>



  
    

  </body>
</html>
